.main {
  padding: 50px;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--main-bg);
}

.calendar {
  border: 1px solid var(--light-border);
  padding: 5px;
  width: 100%;
  max-width: 900px;
}

.calendar_inner {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar_day {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;
  background-color:  var(--calendar-bg);
  color: #fff;
  height: 80px;
  overflow-y: auto;
}

.calendar_day_number {
  position: sticky;
  background-color: var(--calendar-bg);
  padding: 4px 0 4px;
  top: 0;
}

.calendar_today {
  background-color: var(--calendar-accent);
}

.calendar_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.calendar_event_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.calendar_event {
  background-color: var(--calendar-success);
  padding: 2px 6px;
  border-radius: 2px;
}

.calendar_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar_weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
